

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
        <h2>Recognition</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Dropped</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-8">
        <div class="title-action">
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-outline btn-success" ng-class="droppedFilter=='Dropped'?'active':''" ng-click="droppedFilter='Dropped'"><i class="fa fa-inbox"></i> Dropped </a>
                <a type="button" class="btn btn-outline btn btn-outline btn-primary" ng-class="droppedFilter=='Recognized'?'active':''" ng-click="droppedFilter='Recognized'"><i class="fa fa-magic "></i> Recognized</a>
                <a type="button" class="btn btn-outline btn-danger" ng-class="droppedFilter=='Dublicate'?'active':''" ng-click="droppedFilter='Dublicate'"><i class="fa fa-trash "></i> Dublicates</a>
                <a type="button" class="btn btn-outline btn-default" ng-class="droppedFilter==''?'active':''" ng-click="droppedFilter=''"><i class="fa fa-list"></i> All</a>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    
                    <!-- <h5>Recognition</h5> -->
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table">
                    <!-- <div ibox-tools> </div> -->
                    
                </div>
                <div class="ibox-content">
                    <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
                        <thead>
                            <tr>                   
                                <th>Received</th>
                                <th>Uploaded by</th>
                                <th>Document Date</th>
                                <th>Supplier Name</th>
                                <th>Supplier Number</th>
                                <th>Document Number</th>
                                <th>Payment </th>
                                <th>Paid</th>
                                <th>Amount</th>
                                <th>VAT Amount</th>
                                <th class="pull-right">Total Amount</th>
                                <th>Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng:repeat="e in expensesToApprove | filter:{Status:droppedFilter} track by $index"
                                ng-init="eIndex=$index" ng-click="rowHighilited(eIndex, e)"
                                ng-class="eIndex==selectedRow?'selected':''" footable-post-repeat-directive>
                                <td>
                                <i class="fa fa-circle" ng-class="(e.Status=='Recognized')?'text-navy':((e.Status=='Dublicate')?'text-danger':'text-warning')"></i>
                                {{toMoment(e.timestamp, 'lll')}}</td>
                                <td><div class="small m-t-xs"><p>{{e.uploadedByTitle;}}</p></div></td>
                                <td>{{toMoment(e.InvoiceDate, 'L')}}</td>
                                <td>{{e.SupplierName}}</td>
                                <td></td>
                                <td>{{e.InvoiceNo}}</td>
                                <td>{{toMoment(e.DueDate, 'L')}}</td>
                                <td></td>
                                <td><strong class="pull-right">
                                {{toMoney(e.Amount)}}</script>
                                </strong></td>
                                <td><strong class="pull-right">
                                {{toMoney(e.Tax)}}</script>
                                </strong></td>
                                <td><strong class="pull-right">
                                {{toMoney(e.Total)}}</script>
                                </strong></td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs">View</button>
                                        <button class="btn-white btn btn-xs">Edit</button>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-left"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
