

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Approval</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>In process</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-outline btn-success" ng-class="approvalFilter=='InProcess'?'active':''" ng-click="approvalFilter='InProcess'"><i class="fa fa-edit"></i> For Approval </a>
                <a type="button" class="btn btn-outline btn btn-outline btn-success" ng-class="approvalFilter=='NotAppoved'?'active':''" ng-click="approvalFilter='NotAppoved'"><i class="fa fa-calculator "></i> For Reconcilation</a>
                <a type="button" class="btn btn-outline btn-primary" ng-class="approvalFilter=='NotReconciled'?'active':''" ng-click="approvalFilter='NotReconciled'"><i class="fa fa-check "></i> Completed</a>
                <a type="button" class="btn btn-outline btn-default" ng-class="approvalFilter==''?'active':''" ng-click="approvalFilter=''"><i class="fa fa-list"></i> All</a>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>For Approval</h5>

                    <!-- <div ibox-tools> </div> -->
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table">
                    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                        <thead>
                            <tr>
                                <!-- <th><input icheck type="checkbox" ng-model="checkAll"></th> -->
                                <th>Expense</th>
                                <th class="pull-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng:repeat="e in expensesToApprove track by $index"
                                ng-init="eIndex=$index" ng-click="rowHighilited(eIndex, e)"
                                ng-class="eIndex==selectedRow?'selected':''" footable-post-repeat-directive>
                                <!-- <td>
                                    <input icheck type="checkbox" ng-model="check1"></td>-->
                                <td> 
                                    <!-- <span ng-class="(e.Account==null)||(e.Account=='')?'label label-warning':'label label-primary'">{{e.Account?'OK':'Preparation'}}</span>
                                    <i class="fa fa-check-circle-o" ng-style="(e.Account==null)||(e.Account=='')?{'color': '#18a689'}:''" aria-hidden="true"></i> -->

                                    
                                    <!-- <i ng-hide="(e.Account==null)||(e.Account=='')" class="fa fa-check-circle-o" style="color:#18a689;" aria-hidden="true"></i>
                                    <i ng-hide="(e.Account!=null)&&(e.Account!='')" class="fa fa-check-circle-o" style="color:#ed5565;" aria-hidden="true"></i> -->
                                     
                                    <i class="fa fa-circle" ng-class="(e.Account!=null)&&(e.Account!='')?'text-navy':'text-warning'"></i>

                                    <small class="pull-right text-muted">{{toMoment(e.InvoiceDate, 'L')}}</small>
                                    
                                    <strong>{{e.Account}}</strong>
                                    <div class="small m-t-xs">
                                        <p>{{e.uploadedByTitle;}}</p>
                                    </div>
                                </td>
                                <td><strong class="pull-right">
                                {{toMoney(e.Total)}}</script>
                                </strong></td>

                            </tr>
                            
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-left"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
  
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    
                    
                    
                    <h5>Document</h5>
                    <!-- <div ibox-tools> </div> -->
                </div>


                <div class="ibox-content">
                <div class="row">
                    <div class="col-md-3">
                        <!-- a block container is required -->
                         <form method="get" class="form-horizontal">

                            <div class="form-group"><label class="col-sm-12 control-label" style="text-align: left;">Account</label>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                <select class="form-control m-b" name="account" ng-model="expense.Account">
                                    <option>Marketing</option>
                                    <option>Office supply</option>
                                    <option>Reimbursement</option>
                                    <option>Transport</option>
                                </select>
                                </div>
                                <!-- <div class="col-sm-12"><input type="text" class="form-control" ng-change="changeInvoiceData('SupplierName')" ng-model="expense.Account"></div> -->
                            </div>

                            <div class="form-group"><label class="col-sm-12 control-label" style="text-align: left;">Invoice No</label></div>

                            <div class="form-group">
                                <div class="col-sm-12"><input type="text" class="form-control" ng-change="changeInvoiceData('InvoiceNo')" ng-model="expense.InvoiceNo"></div>
                            </div>

                            <div class="form-group" id="data_2">
                                <label class="col-sm-12 control-label" style="text-align: left;">Invoice Date</label>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group date"> 
                                        <input type="date-time" class="form-control" date-time ng-model="temp.InvoiceDate" min-view="date" max-view="year" view="date" auto-close="true">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                <!-- <my-date-time-picker></my-date-time-picker> -->
                                </div>
                            </div>

                            <div class="form-group" id="data_2">
                                <label class="col-sm-12 control-label" style="text-align: left;">Due Date</label>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group date"> 
                                        <input type="date-time" class="form-control" date-time ng-model="temp.DueDate" min-view="date" max-view="year" view="date" auto-close="true">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                <!-- <my-date-time-picker></my-date-time-picker> -->
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-12 control-label" style="text-align: left;">Supplier</label>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12"><input type="text" class="form-control" ng-change="changeInvoiceData('SupplierName')" ng-model="expense.SupplierName"></div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group"><label class="col-sm-3 control-label">Amount</label>
                                <div class="col-sm-9"><input type="number" class="form-control" ng-change="changeInvoiceData('Amount')" ng-model="expense.Amount"></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Tax</label>
                                <div class="col-sm-9"><input type="number" class="form-control" ng-change="changeInvoiceData('Tax')" ng-model="expense.Tax"></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Total</label>
                                <div class="col-sm-9"><input type="number" class="form-control" ng-change="changeInvoiceData('Total')" ng-model="expense.Total" ng-disabled="true"></div>
                            </div>
                            <div><span class="pull-right">
                            <a type="button" class="btn btn-primary"><i class="fa fa-calendarmagic "></i> Approve</a>
                            </span></div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <!-- a block container is required -->
                        <div >
                          <viewerjs></viewerjs>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
